<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us</title>
      {{>head}}
      <link rel="stylesheet" href="css/about_us_subscribe.css">
  
  </head>  
  <body>
{{>nav}}  
    <div class="container1">
      <h1>About Us</h1>
      <p>MuseMe is a digital tool for all the music lovers.
        We at MuseMe focus on making it our top priority to recommend you with the best quality Music.
        We have everything for everyone. We have filtered the music according to different decades different Artists as
        well as different Genre. Also we have included our favourite playlist that will have our favourite songs for you
        to listen</p>
</div>
    {{>footer}}
    {{>scripts}}
  </body>
</html>


