<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
      {{>head}}
      <link rel="stylesheet" href="css/thing.css">
  </head>  
  <body>
{{>nav}}  
    <br>
    <h1 id="thingname">thing to recycle</h1>
    <br>
    <img id="thingimage" src="images/placeholder.jpg" alt="placeholder"/>
    <hr>
    <p id ="thingdesciption" >placeholder text </P>
    <hr height="3%">
    <iframe  id="thingvideo" src="https://www.youtube.com/embed/Sn61Ix6DmiQ" ></iframe>
    <br>
    {{>footer}}
    {{>scripts}}
    <script src="js/thing.js"></script>
  </body>
</html>