<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
      {{>head}}
      <link rel="stylesheet" href="css/thing.css">
  </head>  
  <body>
{{>nav}}  
    <h1 id="thingname">thing to recycle</h1>
    <img src="images/placeholder.jpg" alt="placeholder"/>
    <p>placeholder text</P>
    {{>footer}}
    {{>scripts}}
    <script src="js/thing.js"></script>
  </body>
</html>